# The URL to download the FlowG extension zip
VITE_EXTENSION_DOWNLOAD_URL=

# The backend API target for the Vite proxy
VITE_API_PROXY_TARGET=https://playground-qa-extension.online

# The public domain for Cloudflare R2 storage
VITE_R2_PUBLIC_DOMAIN=https://pub-03dd816d26684f7fba942512f600ddf5.r2.dev
